.App {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: black;
  height: 100vh;
  direction: rtl;
}
.todo-card {
  transition: all 0.5 ease;
}
.todo-card:hover {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  box-shadow: 0 7 0 rgba(0, 0, 0, 0.4);
}

.icon-btn {
  transition: all 0.3 ease;
}
.icon-btn:hover {
  background-color: #9b9999 !important;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.4);
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-ExtraBold.ttf");
  font-weight: 900px;
}

@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Light.ttf");
  font-weight: 200px;
}
